<ion-view title="" id="page9">
  <ion-content padding="true" scroll="true" class="has-header">
    <div class='abolitionistMainImageBox'>
      <img id='abolitionistMainImage' src='./abolitionists/abolitionistsMain.png'>
    </div>
    <div class='abolitionistSignBox'>
      <img src='http://ourrescue.org/assets/img/download-thumbnail/14829901804ed25503e62cac9d30e99bf36ef234a1.png'>
      <h4>Join the Fight <span class='ion-link'></span> Break the <a href='https://ourrescue.donorshops.com/product/DONATE-RECURRING/willyoucometoourrescue.php' class='chainLink'>Chain</a></h4>
      <!--<h4>"I'm An Abolitionist Because..." Sign</h4>-->
      <a href="http://ourrescue.org/files/148299040678d16b377050f73eb8066a3d6c2db9a8.pdf" target="_blank" class="red-button">Download</a>
    </div>
    <div class="list card" id="" ng-repeat='abolitionist in abolitionists'>
      <div class='abolitionistImageBox'>
        <img id='abolitionistImage' ng-src='{{abolitionist.image}}'>
      </div>
    </div>
  </ion-content>
</ion-view>
