<ion-view title="Checkout" id="page10">
  <!--<ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-home" ui-sref="menu.home">Home</button>
  </ion-nav-buttons>-->
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-cart" ui-sref="menu.shoppingCart"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list">
      <!--<label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="">
  </label>-->
  <label class="item item-input">
    <input type="text" placeholder="First Name">
  </label>
   <label class="item item-input">
    <input type="text" placeholder="Last Name">
  </label>
   </label>
   <label class="item item-input">
    <input type="text" placeholder="Email Address">
  </label>
    </label>
   <label class="item item-input">
    <input type="text" placeholder="Address">
  </label>
   <label class="item item-input">
    <input type="text" placeholder="City">
  </label>
   <label class="item item-input">
    <input type="text" placeholder="State">
  </label>
     </label>
   <label class="item item-input">
    <input type="text" placeholder="Zipcode">
  </label>
    </div>
  </ion-content>
</ion-view>
