<ion-view title="Donate" id="page2">
  <ion-content padding="true" class="has-header">
    <div class='donateLogoBox'>
      <img src='https://815393a849b74051d552-f0e6c8ff8d0647d5bbdb36d26d405888.ssl.cf2.rackcdn.com/ourrescue/images/logo.png' class='donateLogo'>
    </div>
    <section>
      <div class='donateImage'>
        <div class='donateImageWordBox'>
          <div class='donateYellowWordBox'>
            <h3>When you donate, you directly impact the life of a suffering child.</h3>
          </div>
        </div>
      </div>
    </section>
    <section class='mainDonateSection'>
    </section>
    <button id="donate-button1" class="button button-dark  button-block button-outline icon ion-cash"></button>
  </ion-content>
</ion-view>
