<ion-view title="Donate" id="page2">
  <ion-content padding="true" scroll="true" class="has-header">
    <div class='donateLogoBox'>
      <img src='https://815393a849b74051d552-f0e6c8ff8d0647d5bbdb36d26d405888.ssl.cf2.rackcdn.com/ourrescue/images/logo.png' class='donateLogo'>
    </div>
    <section>
      <div class='donateImage'>
        <div class='donateImageWordBox'>
          <div class='donateYellowWordBox animated fadeInLeftBig'>
            <h3>When you donate, you directly impact the life of a suffering child.</h3>
          </div>
        </div>
      </div>
    </section>
    <section class='mainDonateSection'>
      <div class='donationBoxOneBackground'>
        <div class='donationBoxOne'>
          <div class='donationWordBoxOne'>
            <h1>Make a Donation</h1>

            <h4>Choose an Amount</h4>
            <div class='donateButtonBox'>
              <button id="donate-button2" class="button button-dark  button-block button-outline">$10</button>
              <button id="donate-button2" class="button button-dark  button-block button-outline">$25</button>
              <button id="donate-button2" class="button button-dark  button-block button-outline">$50</button>
              <button id="donate-button2" class="button button-dark  button-block button-outline">$100</button>
              <button id="donate-button2" class="button button-dark  button-block button-outline">$250</button>
            </div>
            <h4>OR, Customize The Amount Below</h4>
            <div>
              <form ng-submit='charge(payment)' class='col-xs-4'>
                <label class="item item-input" id='donateInput'>
        <input class='form-control' placeholder="Amount" type="text" name="" ng-model='price.price' required>
        </label>
                <label class="item item-input" id='donateInput'>
            <input type="text" name="name" class='form-control' placeholder='Name on Card' required>
        </label>
                <label class="item item-input" id='donateInput'>
            <input type="text" ng-model="payment.card.number" class='form-control' placeholder='Card Number' required>
        </label>
                <label class="item item-input" id='donateInput'>
            <input type="text" ng-model="payment.card.cvc" class='form-control' placeholder='CVC' required>
        </label>
                <label class="item item-input" id='donateInput'>
            <input type="text" name="name" ng-model="payment.card.exp_month" class='form-control' placeholder='Exp. Month' required>
        </label>
                <label class="item item-input" id='donateInput'>
            <input type="text" name="name" ng-model="payment.card.exp_year" class='form-control' placeholder='Exp. Year' required>
        </label>
                <button id="donate-button1" class="button button-dark  button-block button-outline" type='sumbit' ng-click="addToAddressDatabase()">Donate Now!</button>
              </form>
            </div>
            <h5>To Become An Abolitionist and set up a Recurring Donation click
              <a href='https://ourrescue.donorshops.com/product/DONATE-RECURRING/willyoucometoourrescue.php'
                class='chainLink'>here!</a>
            </h5>
          </div>
        </div>
      </div>
      <div class='donationBoxTwo'>
        <h1>Q&A</h1>
        <h3>I would like to send a check. How do I do that?</h3>
        <h6>No problem! You can make checks payable to Operation Underground Railroad and send it to: 700 N. Valley St. Suite
          B Anaheim, CA 92801</h6>
        <h3>Is my donation tax-deductible?</h3>
        <h6>Your donation is 100% tax-deductible.</h6>
        <h3>Will I get a tax receipt?</h3>
        <h6>A donation receipt will be sent to you at the email address you provide on this form. Please be sure to keep a copy
          of your receipt for tax purposes.</h6>
        <h3>Who can I contact if I have questions about my donation?</h3>
        <h6>We would love to hear from you! Our team can be reached via email at: donations@ourrescue.org</h6>
      </div>
    </section>
  </ion-content>
</ion-view>
