
<ion-view title="" id="page1" style="background-color:default;">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <div class='homeImageContainer'>
      <button class="button button-dark  button-block button-outline" id='homeButton'>JOIN THE FIGHT</button>
      <img src='img/fistpump.png' class='homeImage'>
    <button class="button button-dark  button-block button-outline" id='homeButton'>BREAK THE CHAIN</button>
    </div>
    <p></p>
  </ion-content>
</ion-view>