<ion-view title="" id="page3">
  <ion-content padding="true" scroll="false" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="page3-slider1">
      <ion-slide-page id="page3-slide26">
        <h1 id="page3-heading3">Volunteer</h1>
        <div class="slide1-imageBox">
          <img id='slide1-image' src='http://photos3.meetupstatic.com/photos/event/3/8/1/b/highres_458114363.jpeg'>
        </div>
        <div id="page3-markdown11" class="show-list-numbers-and-dots">
          <button class="button button-dark button-block " id='eventButton'><a class="slide1-text" href='https://www.cervistech.com/acts/console.php?console_id=0059&console_type=application&ht=1'>Create a Volunteer Profile</a></button>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page3-slide24">
        <h1 id="page3-heading2">Host an Event</h1>
        <div>
          <img src="img/maMyRg4nSWieAK2olr1u_traveler.jpg" id='slide2-image'>
        </div>
        <h3 id="page3-heading4">You Can Rescue Children From Human Trafficking. </h3>
        <div id="page3-markdown16" class="show-list-numbers-and-dots">
          <button class="button button-energized button-block " id='eventButton'><a class='slide2-text' href='https://www.yourrescue.org/'>Start or Support a Campaign Today! </a></button>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page3-slide25">
        <ion-list id="page3-list4">
        <h1 id="page3-heading1">Attend an Event</h1>
          </ion-item>
          <ion-item id="page3-list-item20">An Evening with Tim Ballard and <br>Clay Olsen
            <div class='ion-ios-calendar'> March 9th, 2017
              <span class='ion-location'> Idaho Falls, ID</span>
            </div>
          </ion-item>
          <ion-item id="page3-list-item21">Break the Chain <br>Dallas Dinner
            <div class='ion-ios-calendar'> Feburary 16th, 2017
              <span class='ion-location'> Dallas, TX</span>
            </div>
          </ion-item>
          <ion-item id="page3-list-item22">The WorldWide <br>Underground
            <div class='ion-ios-calendar'> February 14th, 2017
              <span class='ion-location'> Wherever you live!</span>
            </div>
          </ion-item>
          <ion-item id="page3-list-item23">The Abolitionists Screening <br>with Guest Speaker Tim Ballard
            <div class='ion-ios-calendar'> January 11th, 2017
              <span class='ion-location'> Boise State, ID</span>
            </div>
          </ion-item>
        </ion-list>
        <div id="page3-markdown14" class="show-list-numbers-and-dots"></div>
        <div id="page3-markdown15" class="show-list-numbers-and-dots">
          <button class="button button-dark button-block " id='eventButton' ><a href='http://ourrescue.org/events' class="slide3-text">View All Current and Past 
          Events.</a></button>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
