<ion-view title="My Cart" id="page7">
  <ion-content padding="true" class="has-header">
    <div id='shoppingCart'>
      <button class="button button-calm button" id='backToShopButton' ui-sref='menu.shop'>Continue Shopping</button>
      <div>
        <ion-list id="shoppingCart-list3" ng-repeat='item in cart'>
          <ion-item class="item-thumbnail-left" id="shoppingCart-list-item9">
            <img class='cartThumbnail' ng-src={{item.imageurl}}>
            <h2>{{item.name}}</h2>
            <p><strong>Size:</strong> {{item.size}}</p>
            <p><strong>Price:</strong> ${{item.price * item.quantity}}.00</p>
            <p><strong>Quantity:</strong> {{item.quantity}}</p>
            <i ng-click='removeFromCart(item)' class="ion-close-round"></i>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-dark" id="totalCheckout">
  <h1 class="title">Total: ${{total()}}.00</h1>
  <div class="buttons" ng-click="doSomething()">
    <button ion-button id="shoppingCart-button7" class="button button-calm" ui-sref="checkout">Checkout</button>
  </div>
</ion-footer-bar>
</ion-view>
