<ion-view title="" id="page5">
  <ion-content padding="true" class="has-header" id='socialMediaPage'>
    <div id="socialMedia-button-bar2" class="button-bar">
      <a>
      <button id="socialMedia-button12" class="button button-stable  button-outline icon ion-social-facebook"></button>
      </a>
      <a class="twitter-timeline" href="https://twitter.com/OURrescue">
      <button id="socialMedia-button12" class="button button-stable  button-outline icon ion-social-twitter"></button>
      </a>
      <a href="https://instawidget.net/v/user/ourrescue" id="link-3d9f9e1724bcea95afa6ac9cea26d50605e6d874a71d6bc1eece91436857a056">
      <button id="socialMedia-button12" class="button button-stable   button-outline  icon ion-social-instagram"></button>
      </a>
    </div>
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FOURrescue%2F%3Fhc_ref%3DSEARCH%26fref%3Dnf&tabs=timeline&width=375&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
        width="375" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </ion-content>
</ion-view>
